body {
	background-image: url("../images/background.jpg");
	margin-top: 40px;
}

#link{
	position: relative;
	float: left;
	background-color: white;
	width: 200px;
	height: 220px;
	text-align: center;
	margin-right: 5px;
	border: green solid 3px;
}
	
#zelda {
	position: relative;
	float: left;
	background-color: white;
	width: 200px;
	height: 220px;
	text-align: center;
	margin-right: 5px;
	border: green solid 3px;
}

#ganon {
	position: relative;
	float: left;
	background-color: white;
	width: 200px;
	height: 220px;
	text-align: center;
	margin-right: 5px;
	border: green solid 3px;

}

#ganondorf {
	position: relative;
	float: left;
	background-color: white;
	width: 200px;
	height: 220px;
	text-align: center;	
	margin-right: 5px;
	border: green solid 3px;
}


p {
	font-family: 'Hind', sans-serif;
	font-size: 22px;
	color: black;
}


